.top {
	background-color: #099928;
}

.white-text {
	color: white;
}

.marge {
	margin-bottom: 1cm;
}

.alert {
	margin-top: 1cm;
}

@font-face {
	font-family: "Caviar";
	src:url('../fonts/CaviarDreams.ttf');
}

.barreQCM {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: transparent;
	left: 65%;
	z-index: 1;
}

.vertical {
  display: inline-block;
  width: 40%;
  height: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
.jumbotron {
	position: relative;
	z-index: 4;
}
.star{
	font-size: 32px;
	color: #FFBA0D;
	text-shadow: 2px 2px 3px black;
}

.cent-text{
	text-align: center;
}

.starBonus{
	font-size: 34px;
	color: #0F2F80;
}
}